[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/mimas"]
	path = external/mimas
	url = https://github.com/kociap/mimas
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/stl"]
	path = external/stl
	url = https://github.com/NotAPenguin0/stl
[submodule "external/SPIRV-Cross"]
	path = external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "external/VMA"]
	path = external/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
